---
import Calendar from '../components/Calendar.astro';
import Layout from '../layouts/Layout.astro';

---

<Layout>
  <main class="container">
    <p>[Information on our events will go here]</p>
    <h2>Sunday Night Climbing (SNC)</h2>
    <p>
      SNC is our weekly event... Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam reiciendis nihil, perferendis ea modi tempora obcaecati fuga neque sapiente repellat praesentium minima inventore molestias animi, accusamus accusantium? Amet, similique ipsa. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa sequi quasi eos a nesciunt quas quam, iusto omnis autem labore alias facere! Sapiente saepe rerum velit totam vitae rem harum.
    </p>
    <h2>Schedule</h2>
    <Calendar />
  </main>
</Layout>


