---
import Calendar from '../components/Calendar.astro';
import Event from '../components/Event.astro';
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';

const allEvents = await getCollection('events')

---

<Layout>
  <main class="container">
    <h1>Events</h1>
    {
      allEvents.map(e => (
        <Event event={e}/>
      ))
    }
    <h2>Schedule</h2>
    <Calendar />
  </main>
</Layout>

<style>
  h1 {
    text-decoration: underline;
  }
</style>