---
import { Image } from 'astro:assets';
import logo from '../assets/logo.png';
import Layout from '../layouts/Layout.astro';
---
<Layout title='Brown Climbing Club'>
  <Image src={logo} alt="Brown Climbing Club's logo" width=192 height=192 />
  <h1>
    Brown Climbing
  </h1>
  
  <p>
    Brown Climbing is a community built around the love of all disciplines of climbing (bouldering, top rope, lead, and speed). We aim to provide recreational climbers with greater opportunities to travel to local gyms through shared transportation.
    aims to provide competitive climbers with an opportunity to compete on the USA Collegiate Climbing circuit through our competitive team. In addition, Brown Climbing will create a supportive space where members can improve their strength and technique in all disciplines. Finally, Brown Climbing aims to spread awareness of rock climbing on campus to new climbers and increase the overall accessibility of climbing to all Brown students.
  </p>
</Layout>
