---
import instaIcon from '../assets/icons/icon-instagram.svg'
---

<footer>
  <p>Contact Us (placeholder)</p>
  <a aria-label="instagram" href="https://www.instagram.com/brownclimbing/">
  <img src={instaIcon.src} />
  </a>
</footer>

<style>
  footer {
    background-color: var(--clr-neutral-700);
    color: var(--clr-neutral-100);
    display: flex;
    justify-content: center;
    gap: 1rem;
}

  a {
    margin-top: auto;
    margin-bottom: auto;
  }
</style>